.header_container {
    width: 100%;
    background-color: rgb(214, 159, 7);
    box-sizing: border-box;
}
.menu_container {
    display: flex;
    width: 1200px;
    height: 100px;
    background-color: rgb(214, 159, 7);
    font-size: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto;
}
.logo {
    width: 50px;
    height: 50px;
}
.menu_bar {
    display: flex;
    width: calc(100% - 50px);
    justify-content: space-between;
    align-items: center;
}
.menu_bar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 10px;
}
.main_container {
    position: relative;
    width: 1200px;
    margin: auto;
}
.blogs_container {
    width: 1140px;
    height: 200px;
    display: flex;
    margin: auto;
    align-items: flex-end;
    padding: 0 20px;
    justify-content: space-between;
}
.blogs_container img {
    width: 45px;
    height: 45px;
    padding-bottom: 20px;
}
.blogs {
    box-sizing: border-box;
    width: 230px;
    height: 150px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 20px;
}
.blogs:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.left_menu_container {
    box-sizing: border-box;
    width: 230px;
    height: 330px;
    line-height: 30px;
    border: 3px solid rgba(0, 0, 0, 0.4);
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px 20px 30px 25px;
    letter-spacing: 1px;
}
.left_menu_container a {
    display: block;
    text-decoration: none;
    color: black;
    margin-left: 5px;
    font-weight: 700;
    font-size: 17px;
}
.left_menu_container a:hover {
    text-decoration: underline;
}